.swiper-slide {
  border-radius: 10%;
}
#slide1 {
}
/*
.slide_img {
    display: block;
    width: 10px;
}*/

.slide-img {
<<<<<<< HEAD
  display: grid;
  justify-content: center;
  width: 100%;
}
.slide-img img {
  height: 200px;
  width: 450px;
}

.slide-text h6 {
  size: 24px;
=======
    height: 150px;
  }
  
.slide-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10%;
    
  }

.slide-text h6 {
    font-size: larger;
    text-align: center;
  }

.slide-text p {
  text-align: center;
  size: 2px;
>>>>>>> fbd81fc72a9eac61a53aa5fcd41c0622757f1e59
}
