/* Scroll Up arrow */
#back__to--top {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  -webkit-box-shadow: 10px -50px 50px -30px rgba(0, 0, 0, 0.2),
    10px 11px 19px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 10px -50px 50px -30px rgba(0, 0, 0, 0.2),
    10px 11px 19px 0px rgba(0, 0, 0, 0.33);
}

html {
  scroll-behavior: smooth;
}
#back__to--top:active {
  width: 2.5rem;
  height: 2.5rem;
}

/* Header logo */
/* 
.header__logo img{
  padding-left: 0;
  padding-top: 0;
  max-width: 30%;
  max-height: 30%;
  object-fit: contain;
}*/

/* Icons on hover */
.html:hover {
  background-image: url("/assets/html-logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  font-size: 0;
}

.css:hover {
  background-image: url("/assets/css-logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  font-size: 0;
}
.js:hover {
  background-image: url("/assets/js-logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  font-size: 0;
}
.nodeJS:hover {
  background-image: url("/assets/nodeJS-logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  font-size: 0;
}
.php:hover {
  background-image: url("/assets/php-logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  cursor: pointer;
  font-size: 0;
}
.java:hover {
  background-image: url("/assets/java-logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  font-size: 0;
}
.bubble__link {
  text-decoration: none;
  color: black;
}
.black__screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: grid;
  align-items: center;
  justify-items: center;
  z-index: 6;
}

.logo-circle {
  position: absolute;
  z-index: 6;
}

.logo-text {
  position: absolute;
  z-index: 7;
}
.spin {
  animation: spin 15s infinite linear;
}

.circle {
  -webkit-box-shadow: 0px 0px 0px 8px #7b8fa1, 0px 0px 0px 16px #bbbfca,
    0px 0px 0px 24px #e8e8e8, 0px 0px 0px 31px #f4f4f2,
    -17px -37px 25px -17px rgba(226, 216, 218, 0);
  box-shadow: 0px 0px 0px 8px #7b8fa1, 0px 0px 0px 16px #bbbfca,
    0px 0px 0px 24px #e8e8e8, 0px 0px 0px 31px #f4f4f2,
    -17px -37px 25px -17px rgba(226, 216, 218, 0);
}
