.getComfortable {
  font-size: 1rem;
}

/* changing buble positions */
.java {
  position: absolute;
  left: -240px;
  bottom: 30%;
}

.practice {
  position: absolute;
  bottom: 10%;
  left: calc(200px - 0.5vw);
}
@media screen and (max-width: 1245px) {
  .forever {
    position: absolute;
    bottom: 20%;
    left: 400px;
    transition: all 1s ease-in-out;
  }
}

@media screen and (max-width: 1020px) {
  .circle {
    width: calc(70px + 1.2vw) !important ;
    height: calc(70px + 1.2vw) !important;
  }
  .java {
    left: -40px;
    bottom: 100px;
  }

  .forever {
    left: 250px;
    bottom: 35%;
  }

  .despair {
    position: absolute;
    left: 150px;
    top: 200px;
  }

  .practice {
    bottom: 70%;
  }

  .EveryMile h2 {
    left: -50px;
    font-size: calc(11px + 0.7vw);
  }

  .html {
    position: absolute;
    right: 0px;
    top: 230px;
  }

  .php {
    position: absolute;
    left: 60px;
    top: 500px;
  }

  .youCanGoTheDistance h2 {
    left: 65px;
  }

  .join {
    position: absolute;
    top: 250px;
    left: -100px;
  }
}

/* FROM HERE I DISCORE THAT I CAN CHANGE WITH NEGATIVE MARGIN */
@media screen and (max-width: 768px) {
  .circle {
    width: calc(60px + 1.2vw) !important ;
    height: calc(60px + 1.2vw) !important;
  }
  /* you can go to the distance bubles  */

  .css {
    margin: 25px -30px;
  }
  .html {
    margin-right: -40px;
  }

  .js {
    margin: 0 0 0 150px;
  }

  .nodeJS {
    margin: -80px 0 0 80px;
  }
  .php {
    margin: -100px 0 0 80px;
  }
  .java {
    margin: 0 0 250px 50px;
  }

  /* EVERY MILE SECTION */
  .network {
    margin: -80px 0 0 0;
  }

  .forever {
    margin: 0 0 -20px -100px;
  }

  .despair {
    margin-top: -60px;
  }

  .logo-circle {
    width: 320px;
  }

  .logo-text {
    width: 200px;
  }
  .logo-circle {
    width: 320px;
  }

  .logo-text {
    width: 200px;
  }
}

@media screen and (max-width: 426px) {
  .circle {
    box-shadow: 0px 0px 0px 6px #7b8fa1, 0px 0px 0px 14px #bbbfca,
      0px 0px 0px 18px #e8e8e8, 0px 0px 0px 21px #f4f4f2,
      -17px -37px 25px -17px rgba(226, 216, 218, 0);
  }

  .circle {
    max-width: calc(40px + 1.2vw) !important ;
    max-height: calc(40px + 1.2vw) !important;
  }
  .article__circle p {
    font-weight: 600;
    font-size: 7px;
    margin: 0 0 0 -80px;
  }

  .findYourMuse h2 {
    margin: 0 0 0 -100px;
  }

  .laptop {
    margin: 0 0 0 -100px !important;
  }
  .practice {
    margin: 0 0 0 -150px !important;
  }

  .join {
    margin: -100px 0 0 120px !important;
  }

  .article__title {
    font-size: calc(10px + 0.7vw) !important;
  }
  .youCanGoTheDistanceTitle {
    font-size: calc(8px + 0.7vw) !important;
  }

  .css {
    margin: 0 0 0 40px !important;
  }

  .html {
    margin-top: -50px !important;
  }

  .nodeJS {
    margin-top: -130px !important;
    margin-left: -30px !important;
  }

  .js {
    margin-left: 30px !important;
  }

  .php {
    margin: -265px 0 0 40px !important;
  }
  .java {
    margin: 0 0 -20px 220px !important;
  }

  .EveryMile h2 {
    font-size: 11px !important;
    margin-top: 80px;
  }

  .getComfortable {
    margin-left: 20px !important;
  }
  .despair {
    margin: -60px 0 0 -50px !important;
  }

  .network {
    margin: -100px 100px 0 80px !important;
  }
  .forever {
    margin-left: -20px !important;
    margin-bottom: 70px !important;
    animation: spin 10s infinite linear;
  }

  .logo-circle {
    width: 320px;
  }

  .logo-text {
    width: 200px;
  }
}
