.swiper {
  max-width: 800px;
  max-height: 600px;
  margin: 100px auto;
}

.swiper-slide {
  /*border: solid;*/
  background-color: #eef4f7;
}

.swiper-slide {
  border-radius: 15%;
}

.slide-img {
  height: 300px;
}

.slide-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 16%;
}

.slide-text h6 {
  padding: 2rem 0 0.5rem 0;
  font-size: larger;
  text-align: center;
}

.slide-text p {
  padding: 1rem;
  text-align: center;
  size: 2px;
}

/* slider arrows color  */
.swiper-button-prev,
.swiper-button-next {
  color: #d9e0e3 !important;
}
.circle {
  animation: myAnim 2s ease 2s infinite normal forwards;
}
@keyframes myAnim {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(0px, 0px);
  }

  40% {
    transform: translate(0px, 0px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.article__title:hover::after {
  animation: wobble 2s ease 0s 2 normal forwards;
}

.description {
  margin-top: 15px;
  font-style: oblique;
  font-weight: 500;
}

.article__title {
  font-weight: 700 !important;
}

.nav__link {
  font-weight: 500;
}
@keyframes wobble {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
