.swiper {
  width: 800px;
  height: 500px;
}

.swiper-slide {
  /*border: solid;*/
  background-color: #d8e4e9;
}

.swiper-slide {
  border-radius: 15%;
}


.slide-img {
  height: 300px;
}

.slide-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 16%;
  
}

.slide-text h6 {
  padding: 2rem;
  font-size: larger;
  text-align: center;
}

.slide-text p {
  text-align: center;
  size: 2px;
}


