.swiper {
  width: 800px;
  height: 500px;
  margin-bottom: 100px;
}

.swiper-slide {
  /*border: solid;*/
  background-color: #eef4f7;
}

.swiper-slide {
  border-radius: 15%;
}


.slide-img {
  height: 300px;
}

.slide-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 16%;
  
}

.slide-text h6 {
  padding: 2rem;
  font-size: larger;
  text-align: center;
}

.slide-text p {
  text-align: center;
  size: 2px;
}

.circle {
  animation: myAnim 2s ease 0s 2 normal forwards;
  
}
@keyframes myAnim {
  0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

.article__title:hover::after {
  animation: myAnim 2s ease 0s 2 normal forwards;
}
