@import url(./Alisa.css);
@import url(./Dejan.css);
@import url(./Sarah.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5fcff;
}

/* NavBar */
nav {
  position: absolute;
  right: 10px;
  z-index: 2;
  padding-left: 2vw;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 1rem;
  padding: 0.5rem;
}
.nav__link {
  text-decoration: none;
  color: black;
}

.nav__link:hover {
  color: antiquewhite;
  cursor: pointer;
}
/* HEADER */
.opaque {
  --bg-image: url("/assets/pexels-andrew-neel-trip.jpg");
  --bg-image-opacity: 0.65;
  text-align: center;
  display: grid;
  place-content: center;
  min-height: 500px;
  position: relative;
  isolation: isolate;
  font-size: calc(10px + 0.5vw);
}

.opaque::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: var(--bg-image-opacity);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
}

/* CIRCLE STUFF */
/* main */
main {
  position: relative;
}

/* Section parts */
.findYourMuse {
  position: absolute;
  left: 100px;
}

.youCanGoTheDistance {
  position: absolute;
  right: 30px;
  top: 15%;
}

.EveryMile {
  position: absolute;
  top: 50%;
  left: 20px;
}

.article__title {
  font-size: calc(14px + 0.7vw);
  padding: 20px;
  margin: 20px;
  position: relative;
  transition: all 1s ease;
  font-weight: 300;
}

.article__title:hover::after {
  display: block;
  content: "";
  width: 60%;
  height: 2px;
  background: black;
  position: absolute;
  bottom: 13px;
  right: 20px;
}

/* THE BUBBLE  */
.circle {
  border: 1px solid rgb(123, 143, 161);
  width: calc(80px + 1.4vw);
  height: calc(80px + 1.4vw);
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-content: center;
  transition: all 1s ease-in-out;
  text-align: center;
}

.test {
  border-color: blue;
  animation: spin 4s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(-360deg);
  }

  /* ALMOST THE SAME without % */
  /* from {
    transform:rotate(0deg);
    }
    to {
    transform:rotate(360deg);
    } */
}

.article__circle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.article__circle--html,
.article__circle--js {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media screen and (max-width: 1200px) {
  .circle {
    font-size: calc(9px + 0.5vw);
  }

  .article__title {
    font-size: 9px + 0.5vw;
  }
}

/* MAIN END  */

/* Footer */
footer p {
  background-color: /*#d8d8d8*/ #d9e0e3;
  font-size: smaller;
  padding-left: 1rem;
  padding-top: 5px;
}
.wave-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: o;
  transform: rotate(180deg);
}

.wave-bottom svg {
  display: block;
  width: calc(113% + 1.3px);
  height: 25px;
}

.wave-bottom .shape-fill {
  fill: /*#d8d8d8*/ #d9e0e3;
}

/* POPUP WINDOW CSS PROPERTYS */

/* BACKGROUND FOR THE POPUP => pay attention on z-index "class overlay it's under popUp" */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 4;
  transition: all 0.5s;
}

/* ADD POPUP WINDOW */
.popup,
iframe {
  position: fixed;
  left: 30%;
  top: 25%;
  display: grid;
  place-content: center;
  z-index: 5;
  width: 600px;
  height: 400px;
  background-color: aliceblue;
}

/* CLASS TO HIDE THE ELEMENTS THAT WE ARE USING IN JS*/
.hidden {
  display: none;
}

.popUpPicture1 {
  width: 200px;
  position: absolute;
  top: 500px;
  left: 400px;
  z-index: 5;
  border-radius: 50%;
}

.popUpPicture2 {
  width: 200px;
  position: absolute;
  top: 700px;
  left: 650px;
  z-index: 5;
  border-radius: 50%;
}

.popUpPicture3 {
  width: 400px;
  position: absolute;
  top: 1200px;
  left: 600px;
  z-index: 5;
  border-radius: 50%;
}
